body {
    width: 100vw;
    height: 100vw;

    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    padding: 0px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}